{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <title>ChapinChat</title>

</head>
<body>
    <header>
        <div class="caja">
            
            <nav>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/solicitarServicio">Solicitar Servicio</a>
                    </li>
                    <li>
                        <a href="/peticiones">Peticiones</a>
                    </li>
                    <li>
                        <a href="/limpiar">Reset</a>
                    </li>
                    <li>
                        <a href="/help">Help</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>